<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassProjetApp">
        <activity
            android:name=".AddMeetingActivity"
            android:exported="false" />
        <activity
            android:name=".EditMeetingActivity"
            android:exported="false" />
        <activity
            android:name=".AddMemberActivity"
            android:exported="false" />
        <activity
            android:name=".EditMemberActivity"
            android:exported="false" />
        <activity
            android:name=".MembersList"
            android:exported="false" />
        <activity
            android:name=".MembersListActivity"
            android:exported="false" />
        <activity
            android:name=".ManagePvs"
            android:exported="false" />
        <activity
            android:name=".ManageActivities"
            android:exported="false" />
        <activity
            android:name=".ManageMeetings"
            android:exported="false" />
        <activity
            android:name=".Signup2"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false"
            android:theme="@style/Theme.ClassProjetApp" />
        <activity
            android:name=".item"
            android:exported="false" />
        <activity
            android:name=".Meeting_item"
            android:exported="false" />
        <activity
            android:name=".item_activity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".PvActivity"
            android:exported="false" />
        <activity
            android:name=".MeetingsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".MemberActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>